<div class="modal">
  <div class="modal-content">
  <div class="header">
     <h4>User Registration</h4>
  </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <label>Phone:</label>
      <input formControlName="phone" type="text" />
      <div *ngIf="registrationForm.get('phone')?.invalid && registrationForm.get('phone')?.touched">
        Phone number must not be null
      </div>

      <label>Email:</label>
      <input formControlName="email" type="email" />
      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        Valid email is required
      </div>

      <label>Password:</label>
      <input formControlName="password" type="password" />
      <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        Password is required
      </div>

      <label>Confirm Password:</label>
      <input formControlName="confirmPassword" type="password" />
      <div *ngIf="registrationForm.errors?.['passwordMismatch'] && registrationForm.get('confirmPassword')?.touched" class="error">
        Passwords must match
      </div>

      <div class="form-actions">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
